<div class="col-md-6 col-md-offset-3">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
          <h1>Edit Product</h1>
      </div>

      <div class="panel-body">
      	<strong class="center">Current Image</strong>
      	<br>
      	<%= image_tag @product.image.url(:medium) %>
      	<%= render 'form' %>
      </div>
    </div>
  </div>
</div>
